body{
    border-top: 100px;
}
.divnav {
    direction: rtl;
    background-color: rgb(37, 73, 76);
    width: 94vw;
    height: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    border: none;
    text-decoration: none;
    position: fixed;
    z-index: 1000; 
    top: 0;
    /* left: 0; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
}
 
    /* position: fixed; מוודא שהתפריט קבוע */
    /* top: 0; ממקם אותו בחלק העליון של הדף */
    /* left: 0; ממקם אותו בצד השמאלי */
    /* width: 100%; מתפרס על כל רוחב הדף */
    /* background-color: white; צבע הרקע של התפריט */
    /* z-index: 1000; מוודא שהתפריט נמצא מעל תוכן אחר */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); להוסיף צל לתפריט */
 



.menu {
    margin: 0 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.active {
    color: darksalmon;
}
#cardDiv{
    display:grid;

    
    }
#username{
    color:white;
}
